
/* Popus */

.popup-link a{ 
    cursor:pointer;
    text-decoration:none;
    margin-bottom: 5px;
}

.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 17, 17, 0.61);
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    
}
.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;	 
    border-radius:20px;
}
.popup-content p{
    font-size: 17px;
    padding: 10px;
    line-height: 20px;
}
.popup-content a.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    padding: 0;
    margin: 0;
    text-decoration:none;
}

.popup-content a.close:hover{
  color:#333;
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-container:target{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.popup-container h3{
  margin:10px;
}

.fa.fa-download{
  text-decoration: none;
  background-color: #F4A460;
  color: #fff;
   float: left;
   line-height: 42px;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   margin-bottom: 10px;
   text-align: center;
}

.fa.fa-indent{
  display: block;
  background-color: #058a05;
  color: #fff;
  float: left;

  line-height: 42px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  text-align: center;
}
.fa.fa-indent:hover{
  color: black;
}

.fa.fa-download:hover{
  color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



